<div>
  <img src="/assets/benjamin-baum-profil.webp" alt="Foto Benjamin Baum">
  <p>
    Hi, Ich bin <strong>Benjamin</strong>. Ich bin Frontend Developer aus Nordhausen / Thüringen.
    Ihr könnt mir folgen auf  <a href="https://www.instagram.com/bitu84/" target="_blank">Instagram</a>,
    oder euch mit mit vernetzen auf <a href="https://www.xing.com/profile/benjamin_baum2" target="_blank">Xing</a>,
    oder mehr über mich lesen hier auf <a href="https://www.codumo.de" target="_blank">Codumo.de</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
